@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Montserrat&display=swap');
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
